# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Build output
NotchNotes.zip

# CocoaPods (if ever used)
Pods/
Podfile.lock

# Carthage (if ever used)
Carthage/Build/

# Fastlane (if ever used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Environment
*.env
